.react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  border-radius: 0;
  transition: all 0.3s ease;
}

.react-multiple-carousel__arrow::before {
  font-size: 0px; 
  transition: font-size 0.3s ease; 
}

.react-multiple-carousel__arrow:hover::before {
  font-size: 32px;
}


.react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0;
}

.carousel-container {
  position: static;
}

.custom-dot-list-style{
  position: absolute;
  top: -2.5rem;
  left: auto;
  padding: 0px 1rem;
 ;
}

.custom-dot-list-style button {
  border-radius: 0;
  width: 1rem;
  height: 0.1rem;
  border: none;
  background-color: #4d4d4d;
}

.react-multi-carousel-dot--active button {
  background-color: #aaaaaa; /* Cor de fundo quando ativo */
}

.carousel-item{
  padding: 0px 0.25rem;
}

